.feed {
  flex: 10.5;
  width: 40%;
    max-width: 1150px;
  }
  
  .archive {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    width: max-content;
  }
  
  .archiveButton {
    background-color: transparent; /* Transparent background */
    color: gray; /* Gray text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 0; /* Remove padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor on hover */
  }
  
  .archive:hover .archiveButton {
    color: #e49758; /* Change text color on hover */
  }
  
  .archive:hover svg {
    color: #e49758; /* Change icon color on hover */
  }
  
  .feedWrapper {
    padding: 20px;
  }
  