.payment-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .payment-success h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .payment-success p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .signUpButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #e49758c7;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.signUpButton:hover{
  background-color:#e4975885 ;
}